[user]
	name = Alex Sudakov
	email = cygakob@gmail.com
	signingkey = cygakob@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[push]
	default = current
[pull]
	default = current
